<?xml version='1.0' encoding='utf-8'?>
<plugin id="com.qinsilk.xFeiVoice" version="0.01" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android"><name>xFeiVoice</name><js-module name="xFeiVoice" src="www/xFeiVoice.js"><clobbers target="cordova.plugins.xFeiVoice" /></js-module><platform name="android"><config-file parent="/*" target="res/xml/config.xml"><feature name="xFeiVoice"><param name="android-package" value="com.qinsilk.xFeiVoice.xFeiVoice" /></feature></config-file><config-file parent="/*" target="AndroidManifest.xml"></config-file><source-file src="src/android/xFeiVoice.java" target-dir="src/com/qinsilk/xFeiVoice/xFeiVoice" /></platform></plugin>